@import "tailwindcss";
@source "../../node_modules/@obieg-zero/sdk/src/ui.tsx";
@plugin "daisyui";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  hanging-punctuation: first last;
}
